<form class="container " #f="ngForm" (ngSubmit)="onSubmit(f.form)">
    <div class="form-group">
        <label for="Full Name">Name</label>
        <input type="text" id="name" class="form-control" 
        ngControl="name" 
        #name="ngForm"
        required>
    </div>
    <div class="alert alert-danger" 
        *ngIf="name.touched && !name.valid">
        Name is required
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" 
        class="form-control" 
        ngControl="email" 
        #email="ngForm"
        required>
    </div>
        <div class="alert alert-danger" 
        *ngIf="email.touched && !email.valid">
        
        Email is required
    </div>
    <div class="form-group">
        <label for="frequency">Frequency of email</label>
        <select name="frequency" id="frequency" class="form-control" 
        ngControl="frequency" 
        required
        #frequency="ngForm"
        >
            <option value="daily" selected>Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
        </select>
    </div>
     <div class="alert alert-danger" 
        *ngIf="frequency.touched && !frequency.valid">
        Frequency of emails is required
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">Submit</button>
    </div>
</form>