<form [ngFormModel]="form" (ngSubmit)="updatePassword()" #f="ngForm" >
    <div class="form-group">

        <label for="currentPassword">Current Password</label>
        <input 
            id="currentPassword" 
            type="text" 
            class="form-control"
            ngControl="currentPassword"
            #currentPassword="ngForm">
          
         <div *ngIf="currentPassword.errors && currentPassword.touched">

            <div 
                *ngIf="currentPassword.errors.required"
                class="alert alert-danger">Current password is required</div>

            <div 
                *ngIf="currentPassword.errors.invalidPassword"
                class="alert alert-danger">Current password is invalid.
            </div>
                  
         </div>

    </div>
    
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input 
            id="newPassword" 
            type="password" 
            class="form-control"
            ngControl="newPassword"
            #newPassword="ngForm"
            >
            
        <div *ngIf="newPassword.errors && newPassword.touched">
            <div 
                *ngIf="newPassword.errors.required && newPassword.touched"
                class="alert alert-danger">New password is required
            </div>
            <div 
                *ngIf="newPassword.errors.minlength && newPassword.touched"
                class="alert alert-danger">The minimum length for a password is {{newPassword.errors.minlength.requiredLength}} charactors
            </div>            
        </div>     
 
    </div>
    <div class="form-group">
        <label for="newPassword1">New Password Again</label>
        <input 
            id="newPassword1" 
            type="password" 
            class="form-control"
            ngControl="newPassword1"
            #newPassword1="ngForm"
            >
        <div *ngIf="newPassword1.errors && newPassword1.touched">
            <div 
                *ngIf="newPassword1.errors.required && newPassword1.touched"
                class="alert alert-danger">New password is required
            </div>
            <div 
                *ngIf="newPassword1.errors.minlength && newPassword1.touched"
                class="alert alert-danger">The minimum length for a password is {{newPassword1.errors.minlength.requiredLength}} charactors
            </div>            
        </div> 
    </div>
    
    <div *ngIf="f.form.errors && newPassword1.touched">
        <div
            *ngIf="f.form.errors.twoPasswordsShouldBeMatched"
            class="alert alert-danger">
           Two passwords should be matched
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.form.valid">Update Password</button>
</form>